@import '../../stylus/style-constants.module';

.background {
  @include background();
  background-image: url('../../assets/mainBackground.png');
}

.wrapper {
  height: calc(100vh - 50px);
}

.profileContainer {
  background: $pureWhite;
  border-radius: 12px;
}

.list {
  width: 100%;
}

.valueText {
  color: grey;
}

.buttonsContainer {
  display: flex;
}
