$pureWhite: #fff;
$fontFamilyRoboto: 'Roboto Condensed', Ð¢ahoma, sans-serif;

@mixin background() {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin whiteFs24() {
  font-family: $fontFamilyRoboto;
  color: $pureWhite;
  font-size: 24px;
  line-height: 28px;
}

@mixin whiteFs38() {
  font-family: $fontFamilyRoboto;
  color: $pureWhite;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}
