@import '../../stylus/style-constants.module';

.background {
  @include background();
  background-image: url('../../assets/mainBackground.png');
}

.container {
  background: $pureWhite;
  padding: 24px;
  border-radius: 12px;
}

.title {
  margin-top: 0;
}
